* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('image.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}


.container {
    position: absolute;
    width: 90%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: grid;
    max-width: 500px;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: repeat(6, minmax(80px, auto));
    grid-template-areas:
        "display display display display"
        "delAll division multi del"
        "seven eight nine minus"
        "four five six plus"
        "one two three equal"
        "zero zero dot equal";
    font-size: 30px;
    border: 1px solid black;
    border-radius: 15px;
    gap: 6px;
    background-color: rgb(99, 100, 117);
    padding: 15px;
}

.display {
    grid-area: display;
    height: 100px;
    background: rgba(64, 83, 36, 0.6);
    border: none;
    color: white;
}

#numInp {
    width: 96%;
    border-radius: 10px;
    height: 100%;
    border: none;
    text-align: right;
    font-size: 30px;
    padding: 0px 10px;
    background: rgb(47, 60, 26);
    outline: none;
    color: white;
}

#numInp:focus {
    outline: none;
    border: none;
}

#numInp::-webkit-inner-spin-button,
#numInp::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove spin buttons (Firefox) */
#numInp {
    -moz-appearance: textfield;
}

.display,
.cells {
    text-align: center;
    align-content: center;
    border: 1px solid black;
    border-radius: 15px;
}

.cells {
    background-color: black;
    color: white;
}

.active{
    background-color: rgb(58, 55, 55);
    transform: scale(1.06);
    border: none;
    cursor: pointer;
}

.cells:hover {
    background-color: rgb(58, 55, 55);
    transform: scale(1.06);
    border: none;
}

.cells button {
    background: transparent;
    color: white;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 30px;
    cursor: pointer;
}


#delAll {
    grid-area: delAll;
}

#delAll button {
    color: red;

}

#division {
    grid-area: division;
}

#multi {
    grid-area: multi;
}

#del {
    grid-area: del;
}

#sev {
    grid-area: seven;
}

#eig {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#minus {
    grid-area: minus;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#plus {
    grid-area: plus;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#zero {
    grid-area: zero;
}

#dot {
    grid-area: dot;
}

#equal {
    grid-area: equal;
}